#sent-messages-block {
  display: none;
}

.messages-count {
  color: $primary-color;
  font-weight: bold;
  border-bottom: 2px solid #DAE1E8;
}

.messages {
  padding-left: 0px;
  padding-right: 0px;

  .message-block {
    border-bottom: 1px solid #DAE1E8;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;

    &:hover {
      background-color: rgb(237, 241, 245);
    }
  }

  .unread-message {
    background-color: rgb(237, 241, 245);
  }

  .message-body {
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.new-message {
  background-color: #F7F7F7;
}

.photos-count {
  color: $primary-color;
  font-weight: bold;
  border-bottom: 2px solid #DAE1E8;
  margin-top: 5px;
}

#photo-uploader-input {
  position: absolute;
}

.photos-block {
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;

  .photo {
    position: relative;
    float: left;

    a, img {
      display: block;
      margin: auto;
      position: relative;
    }

    .delete-photo {
      position: absolute;
    }
  }
}

.alert-block {
  margin-bottom: 0px;
}

.profile-block {
  .avatar-block {
    li {
      margin-right: 0px;
    }
  }

  .narrow-column {
    padding-left: 0px;
    padding-right: 5px;

    .actions {
      margin-top: 10px;
    }

    img {
      display: block;
      margin: auto;
    }
  }

  .wide-column {
    margin-top: 10px;
    padding-left: 0px;

    .profile-info {
      .user-name {
        color: $primary-color;
        font-weight: bold;
        border-bottom: 1px solid #DAE1E8;
      }

      .profile-details {
        padding-top: 10px;
        padding-left: 0px;
        padding-right: 0px;

        .attr {
          color: #777;
        }
      }

      .wall {
        margin-top: 10px;
        padding: 0px;

        .wall-header {
          background-color: #F7F7F7;
          color: $primary-color;
          font-weight: bold;
          padding-top: 2px;
          padding-bottom: 2px;
          padding-left: 5px;
          padding-right: 5px;

          .button {
            margin-top: -5px;
            font-size: $base-font-size;
            margin-bottom: 5px;
          }
        }

        .wall-body {
          .post {
            margin-top: 10px;
            padding: 0px;
            border-bottom: 1px solid #DAE1E8;

            .avatar {
              img {
                display: block;
                margin: auto;
              }
            }

            .content {
              p {
                word-wrap: break-word;
                margin-bottom: 5px;
              }

              .author-name {
                color: $primary-color;
                font-weight: bold;
              }

              .like {
                font-size: 25px;
                color: #c9d8e6;
              }

              .like-pressed {
                font-size: 25px;
                color: $primary-color !important;
              }

              .like:hover {
                color: $primary-color;
              }

              .date {
                margin-top: 15px;
              }

              .remove-post-wrap {
                font-weight: bold;
              }

              .like-block {
                #likes-number {
                  color: $primary-color;
                  font-weight: bold;
                  margin-top: 12px;
                  margin-left: 5px;
                }
              }
            }
          }
        }
      }
    }
  }
}

.page-body {
  border: 2px solid #DAE1E8;
}

.settings-panel {
  background: #F7F7F7;

  h2 {
    border-bottom: 2px solid #DAE1E8;
    margin-bottom: 20px;
  }
}

.friends-list {
  .friends-panel {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .pending-friends, .find-friends {
    // display: none;
  }

  .friends-count {
    color: $primary-color;
    font-weight: bold;
    border-bottom: 2px solid #DAE1E8;
    margin-top: 5px;
  }

  .user-block {
    margin-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
    border-bottom: 1px solid #DAE1E8;

    .info {
      font-weight: bold;
    }

    .actions {
      list-style-type: none;

      li {
        padding-left: 5px;
      }

      li:hover {
        background-color: #F7F7F7;
      }
    }

    .avatar {
      padding: 0px;

      img {
        display: block;
        margin: auto;
      }
    }
  }
}

.select-date {
  float: left;
  width: 100%;
}

.select-date-wrapper {
  select:first-of-type {
    width: 23%;
    margin-right: 1%;
  }
  select:nth-of-type(2) {
    width: 45%;
    margin-right: 1%;
  }
  select:last-of-type {
    width: 30%;
  }
}
